<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>


    {% load staticfiles%}


    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{% static 'rst2slides/javascript/jquery-2.2.3.min.js' %}"></script>
</head>

<body>

<div id='cssmenu'>
    <ul>
        <li><a href="{% url 'rst2slides:home_page' %}">Home</a></li>
        <li><a href="{% url 'rst2slides:presentationPage' %}">Presentation</a></li>
        <li class='active'><a href="{% url 'rst2slides:contactPage' %}">Contact</a></li>

        {% if user.is_authenticated %}
        <li style="float:right;"><a href="{% url 'rst2slides:logoutUser' %}">Log out</a></li>
        <li style="float:right;"><a href="{% url 'rst2slides:userSlide' %}" ">Welcome {{user.username}}</a></li>

        {% else %}
        <li style="float:right;"><a href="{% url 'rst2slides:loginPage' %}">Sign in</a></li>
         {% endif%}
    </ul>
</div>

<div class="container">
    <h1 align="center"><ins>About Developer</ins></h1>
    <br>
    <table>
        <tr>
            <td>
                <image src="{% static 'rst2slides/images/me.jpg' %}" width="400" height="500"></image>
            </td>

            <td valign="top" align="left" style="padding: 30px;">

    <li><h3>Name: Chatchai Honarongsiri</h3></li>
    <li><h3>Nickname: Nuk</h3></li>
    <li><h3>Education’s Background : Studying A King Mongkut's University of Technology North Bangkok</h3></li>
    <li><h3>Major: Computer Engineering</h3></li>
    <li><h3>E-mail: soulquiza@gmail.com</h3></li>

            </td>
        </tr>


    </table>

</div>

</body>
</html>