<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Slide</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{%static 'rst2slides/javascript/home_page.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

</head>
<body>

<div id='cssmenu'>
    <ul>
        <li><a href="{% url 'rst2slides:home_page' %}">Home</a></li>
        <li class='active'><a href="{% url 'rst2slides:presentationPage' %}">Presentation</a></li>
        <li><a href="{% url 'rst2slides:contactPage' %}">Contact</a></li>

        {% if user.is_authenticated %}
        <li style="float:right;"><a href="{% url 'rst2slides:logoutUser' %}">Log out</a></li>
        <li style="float:right;"><a href="{% url 'rst2slides:userSlide' %}" ">Welcome {{user.username}}</a></li>

        {% else %}
        <li style="float:right;"><a href="{% url 'rst2slides:loginPage' %}">Sign in</a></li>
        {% endif%}
    </ul>
</div>


<div class="container">
    <h1>
        <ins>RST To Presentation</ins>
    </h1>
    <form>


        <h4>Slide's Name:</h4> <input required type="text" value="{{slide.slide_name}}" name="slide_name"
                                          placeholder="Enter name of slides"
                                          class="form-control">

        <br>
        {% if request.session.editSlide %}
        <h4 style="color:red;">{{request.session.editSlide}}</h4>
        {% endif %}
        Text's Color: <!-- <select id="text_colors" >
        <option value="black" selected="selected">Black</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="pink">Pink</option>
    </select> -->
        <input type="color" id="text_color" onchange="change_style()" value="#000000">
        Text's font size:<select id="text_size" onclick="change_style()">
        <option value="12px" >12</option>
        <option value="14px" selected="selected">14</option>
        <option value="16px">16</option>
        <option value="18px">18</option>
        <option value="20px">20</option>
        <option value="22px">22</option>
        <option value="24px">24</option>
        <option value="26px">26</option>
        <option value="28px">28</option>
        <option value="30px">30</option>
        <option value="32px">32</option>
        <option value="34px">34</option>
    </select>
        Images :
        <a href="JavaScript:newPopup({% url 'rst2slides:uploadImagePage' %});" class="btn btn-default">Upload</a>
        <br><br>
    <textarea class="form-control" name="myTextBox" cols="100" rows="20" id="text_area"
              style="color:#000000;" placeholder="Enter some ReStructuretext...">{{slide.slide_rst}}</textarea><br>

        <br>
        <h2>Theme : </h2>
        <select name="theme" id="theme" onclick="changeImage()">
            {% for theme in all_theme %}
                {% if last_theme == theme %}
                    <option value="{{last_theme}}" selected="selected">{{last_theme}}</option>
                {% else %}
                    <option value="{{theme}}">{{theme}}</option>
                {% endif %}
            {% endfor %}

        </select><br><br> <img src="/static/rst2slides/images/{{last_theme}}.png" alt="theme" height="500" width="700"
                               id="theme_preview">
        <br>
        <br>

        <div ng-app="previewSlides" ng-controller="previewSlidesController">
            <button name="submit" value="submit" ng-click="showPreview()" formaction="{% url 'rst2slides:rst2html' %}"
                    formtarget="previewSlidesFrame">
                Preview
            </button>

            <button name="submit" value="submit" ng-show="displayStatus" formaction="{% url 'rst2slides:rst2html' %}"
                    formtarget="previewSlidesFrame">
                Refresh
            </button>
            <br><br>
            <iframe ng-show="displayStatus" name="previewSlidesFrame" width="100%" height="500"></iframe>
        </div>
        <!--<input type="image" src="{% static 'rst2slides/images/submit-button.jpg' %}" alt="Submit" width="220"
               height="70" formaction="{% url 'rst2slides:rst2html' %}"> -->
        <button name="submit" value="submit" class="btn-lg btn-primary"
                formaction="{% url 'rst2slides:rst2html' %}">Submit
        </button>
        &nbsp;&nbsp;&nbsp;
        {% if isCanEdit %}
        <button class="btn-lg btn-danger" formaction="{% url 'rst2slides:deleteSlide' %}">Delete</button>
        &nbsp;&nbsp;&nbsp;
        {% if slide.slide_is_public%}
        <button name="submit" value="private" class="btn-lg btn-warning" formaction="{% url 'rst2slides:rst2html' %}">
            Private
        </button>
        &nbsp;&nbsp;&nbsp;
        {% else %}
        <button name="submit" value="editPublic" class="btn-lg btn-info" formaction="{% url 'rst2slides:rst2html' %}">
            Public
        </button>
        &nbsp;&nbsp;&nbsp;
        {% endif%}
        <button name="submit" value="update" class="btn-lg btn-success" formaction="{% url 'rst2slides:rst2html' %}">
            Update
        </button>
        {% endif %}
    </form>

</div>

</body>
</html>