<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RST To Presentation Web</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{%static 'rst2slides/javascript/home_page.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

</head>
<body>
<div id='cssmenu'>
    <ul>
        <li class='active'><a href="{% url 'rst2slides:home_page' %}">Home</a></li>
        <li><a href="{% url 'rst2slides:presentationPage' %}">Presentation</a></li>
        <li><a href="{% url 'rst2slides:contactPage' %}">Contact</a></li>

        {% if user.is_authenticated %}
        <li style="float:right;"><a href="{% url 'rst2slides:logoutUser' %}">Log out</a></li>
        <li style="float:right;"><a href="{% url 'rst2slides:userSlide' %}" ">Welcome {{user.username}}</a></li>

        {% else %}
        <li style="float:right;"><a href="{% url 'rst2slides:loginPage' %}">Sign in</a></li>
         {% endif%}
    </ul>
</div>


<div class="container">
    <h1>
        <ins>RST To Presentation</ins>
    </h1>
    <form>
        <div ng-app="previewSlides" ng-controller="previewSlidesController">
            {%verbatim%}
        <h4>Slide's Name: {{slide_name}}</span></h4> <input required type="text" ng-model="slide_name" name="slide_name" placeholder="Enter name of slides"
                                      class="form-control"><br>{%endverbatim%}
        {% if request.session.home_page %}
            <h4 style="color:red;">{{request.session.home_page}}</h4>
        {% endif %}
        Text's Color: <!-- <select id="text_colors" >
        <option value="black" selected="selected">Black</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="pink">Pink</option>
    </select> -->
        <input type="color" id="text_color" onchange="change_style()" value="#000000">
        Text's font size:<select id="text_size" onclick="change_style()">
        <option value="12px" >12</option>
        <option value="14px" selected="selected">14</option>
        <option value="16px">16</option>
        <option value="18px">18</option>
        <option value="20px">20</option>
        <option value="22px">22</option>
        <option value="24px">24</option>
        <option value="26px">26</option>
        <option value="28px">28</option>
        <option value="30px">30</option>
        <option value="32px">32</option>
        <option value="34px">34</option>
    </select>
        Images :
        <a href="JavaScript:newPopup({% url 'rst2slides:uploadImagePage' %});" class="btn btn-default">Upload</a>
        <br><br>
    <textarea class="form-control" name="myTextBox" cols="100" rows="20" id="text_area"
              style="color:#000000;" placeholder="Enter some ReStructuretext..."></textarea><br>

        <br>
        <h2>Theme : </h2>
        <select name="theme" id="theme" onclick="changeImage()">
            <option value="deck" selected="selected">deck</option>
            <option value="clean">clean</option>
            <option value="reveal">reveal</option>
            <option value="bootstrap">bootstrap</option>
        </select><br><br> <img src="{% static 'rst2slides/images/deck.png' %}" alt="theme" height="500" width="700"
                               id="theme_preview">
        <br>
        <br>


            <button name="submit" value="submit" ng-click="showPreview()" formaction="{% url 'rst2slides:rst2html' %}"
                    formtarget="previewSlidesFrame">
                Preview
            </button>

            <button name="submit" value="submit" ng-show="displayStatus" formaction="{% url 'rst2slides:rst2html' %}"
                    formtarget="previewSlidesFrame">
                Refresh
            </button>
            <br><br>
            <iframe ng-show="displayStatus" name="previewSlidesFrame" width="100%" height="500"></iframe>
        </div>
        <!--<input type="image" src="{% static 'rst2slides/images/submit-button.jpg' %}" alt="Submit" width="220"
               height="70" formaction="{% url 'rst2slides:rst2html' %}"> -->
        <button name="submit" value="submit" class="btn-lg btn-primary" formaction="{% url 'rst2slides:rst2html' %}">Submit</button>
        {% if user.is_authenticated %}
        <button name="submit" value="save" class="btn-lg btn-success" formaction="{% url 'rst2slides:rst2html' %}">Save</button>
        <button name="submit" value="public" class="btn-lg btn-info" formaction="{% url 'rst2slides:rst2html' %}">Public</button>
        {% endif %}
    </form>

</div>

</body>
</html>