<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Code Rst</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{%static 'rst2slides/javascript/home_page.js' %}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h3>Copy and Paste it at Text area : </h3><input type="text" class="form-control"
                                                     value=".. image:: /static/rst2slides/images/user/{{request.session.imageName}}"
                                                     readonly>
    <br>
    <image src="/static/rst2slides/images/user/{{request.session.imageName}}" style="width:100%;height:100%;"></image>
</div>

</body>
</html>
