<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>


        {% load staticfiles%}

        <link rel="stylesheet" href="{% static 'rst2slides/css/loginPage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
        <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

  </head>

  <body>

    <div id='cssmenu'>
    <ul>
        <li ><a href="{% url 'rst2slides:home_page' %}">Home</a></li>
        <li><a href="{% url 'rst2slides:presentationPage' %}">Presentation</a></li>
        <li><a href="{% url 'rst2slides:contactPage' %}">Contact</a></li>

        <li class='active' style="float:right;"><a href="{% url 'rst2slides:loginPage' %}">Sign in</a></li>

    </ul>
</div>



    <div class="login-page">
  <div class="form">
    <form class="register-form" method="post">
        {% csrf_token %}
      <input required name="register name" type="text" placeholder="name"/>
      <input required name="register password" type="password" placeholder="password"/>
      <input required name="register email address" type="text" placeholder="email address"/>
      <button formaction="{% url 'rst2slides:registerUser' %}">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" method="post">
        {% csrf_token%}
      <input required name="username" type="text" placeholder="username"/>
      <input required name="userpassword" type="password" placeholder="password"/>
      <button formaction="{% url 'rst2slides:loginUser' %}">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
      <h3 align="center" style="color:red;">{{request.session.loginPage}}</h3>
      <h3 align="center" style="color:green;">{{request.session.loginPageSuccess}}</h3>
  </div>
</div>
    <script src="{% static 'rst2slides/javascript/jquery-2.2.3.min.js' %}"></script>

        <script src="{% static 'rst2slides/javascript/loginPage.js' %}"></script>




  </body>
</html>