<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{%static 'rst2slides/javascript/home_page.js' %}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h1>
        <ins>Upload Image Page</ins>
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="pic" accept="image/*"><br>
        <button class="btn btn-primary btn-block" formaction="{% url 'rst2slides:uploadImage' %}">Upload Image</button>
    </form>

</div>
</body>
</html>