<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>User Slide</title>


    {% load staticfiles%}


    <link rel="stylesheet" type="text/css" href="{% static 'rst2slides/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'rst2slides/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">

    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{% static 'rst2slides/javascript/jquery-2.2.3.min.js' %}"></script>
</head>

<body {% if zipped%} ng-init="slides=[
{%for slide,slide_url in zipped %}
    {'slide_name':'{{slide.slide_name}}', 'slide_username': '{{slide.slide_username}}', 'slide_share_time':'{{slide.slide_share_time}}', 'slide_last_update': '{{slide.slide_last_update}}', 'slide_rating': {{slide.slide_rating}}, 'slide_is_public':'{{slide.slide_is_public}}', 'slide_url':'{{slide_url}}'},
{% endfor%}

]"{%endif%}>

<div id='cssmenu'>
    <ul>
        <li><a href="{% url 'rst2slides:home_page' %}">Home</a></li>
        <li ><a href="{% url 'rst2slides:presentationPage' %}">Presentation</a></li>
        <li><a href="{% url 'rst2slides:contactPage' %}">Contact</a></li>

        {% if user.is_authenticated %}
        <li style="float:right;"><a href="{% url 'rst2slides:logoutUser' %}">Log out</a></li>
        <li style="float:right;" class='active'><a href="{% url 'rst2slides:userSlide' %}" ">Welcome {{user.username}}</a></li>

        {% else %}
        <li style="float:right;"><a href="{% url 'rst2slides:loginPage' %}">Sign in</a></li>
        {% endif%}
    </ul>
</div>


<div class="container">
    <h1><ins>{{request.user.username}} Slides</ins></h1>
    <input type="text" class="form-control" ng-model="search.slide_name" placeholder="Search">

    <br><p><b>Filtered by: </b><span ng-bind="search.slide_name"></span></p>
    <input type="radio" value="slide_name" ng-model="sortString"> Sorted by Slide Name
    <input type="radio" value="-slide_rating" ng-model="sortString"> Sorted by Views
    <table class="table">
        <tr>

            <td><b>Slide Name</b></td>
            <td><b>User Name</b></td>
            <td><b>Last Update</b></td>
            <td><b>Public Date</b></td>
            <td><b>Views</b></td>
            <td><b>Public</b></td>
            <td><b>Watch Slide</b></td>
        </tr>
        <tr ng-repeat=" slide in slides.slice().reverse() | orderBy:sortString | filter:search">
            <!--{% if slide.slide_is_public == True %}
            <td><span style="color:green;">Public</span></td>

            {% else %}
            <td><span style="color:red;">Private</span></td>

            {% endif %}
            {%verbatim%}
            <div>{{slide.slide_is_public = 'True' && 'available' || 'oh no, you don't have it'}}</div>
            -->

            <td><a href="/{{slide.slide_username}}/{{slide.slide_url}}/editSlide/"><span ng-bind=slide.slide_name></span></a></td>
            <td><span ng-bind=slide.slide_username></span></td>
            <td><span ng-bind=slide.slide_last_update></span></td>
            <td><span ng-bind=slide.slide_share_time></span></td>
            <td><span ng-bind=slide.slide_rating></span></td>
            <td><span ng-bind = slide.slide_is_public></span></td>
            <td><a target="_blank" href="/{{slide.slide_username}}/{{slide.slide_url}}/watchSlide/">Watch</a></td>
        </tr>
    </table>
        {% endverbatim %}

</div>

</body>
</html>